/* body formatted  */
body {
  font-family: Verdana, sans-serif;
  margin: 0px;
  background-color: blue;
  color: white;
}

/* make sure border and padding does not affect box sizing  */
* {
  box-sizing: border-box;
}

/*  sticky navbar */
#navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* navbar links formated */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* link hover format */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* marks home active  */
#navbar a.active {
  background-color: #4caf50;
  color: white;
}

#navbar a.active:hover {
  background-color: blue;
}

#home {
    padding-top: 70px;
}

#gallery{
    display: block;
    padding-top: 20px;
}

#videos {
         
    padding-top: 40px;
}



/* Lightbox Formatting:  */
/* set up for row column spacing  */
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 14.2%;
}

/* The Modal background  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* close button  */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

/* close hover and focus  */
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* next and previous buttons  */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* position the next button to the right  */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover add black background color with a little bit of see through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* number text (1/7 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* contact form input formated */
input[type="text"],
input[type="email"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: solid black 4px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"].hover {
  background-color: #45a049;
}

/* contact form format */
#contact {
  border-radius: 5px;
  background-color: #45a049;
  width: 300px;
}

/* center everthing */
.center {
  margin: 20px auto;
  width: 50%;
  border: none;
  padding: 20px;
  text-align: center;
}
/* Great css from https://avexdesigns.com/blog/responsive-youtube-embed#:~:text=You%20will%20need%20to%20wrap,Awesome! */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


